@font-face {
    font-family: 'Momo_Trust';
    font-size: medium;
    font-weight: normal;
    font-style: light;
    src: url('../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.woff2') format('woff2');
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 156, 43);
}

h1 {
    font-family: 'Momo_Trust', -apple-system, 'sans-serif';
    font-optical-sizing: auto;
    height: auto;
    font-weight: normal;
    font-style: light;

    text-align: center;
    color: rgb(245, 218, 218);
    margin: 10px;
    background-color:rgb(133, 71, 7);
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

h2 {

    background-color:rgb(75, 39, 4);
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;
    width:fit-content;
}

nav {
    width:fit-content;
    font-family: 'Momo_Trust', -apple-system, 'sans-serif';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: bold;
    border-style: solid;
    background-color:rgb(133, 71, 7);
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;

}

a {
    text-decoration: none;
    text-align: center;
    color: rgb(245, 218, 218);
    margin: 10px;
    background-color:rgb(231, 43, 43);
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    transition: transform 0.3s ease;
    
    
}

.button_chosen {
    cursor: pointer;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 10px;
    background-color:rgb(49, 22, 22);
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;


}

a:hover {
    cursor: pointer;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 10px;
    background-color:rgb(49, 22, 22);
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

section {
    color: rgb(245, 218, 218);
    margin: 10px;
    font-family: 'Momo_Trust', -apple-system, 'sans-serif';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: light;
    border-style: solid;
    background-color:rgb(133, 71, 7);
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;
    width:fit-content;

}

div {
    background-color: rgba(223, 136, 36, 0);
    margin: 10px;
    font-family: 'Momo_Trust', -apple-system, 'sans-serif';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: light;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.food_card {
    background-color: rgba(211, 112, 0, 0.733);
    margin: 10px;
    font-family: 'Momo_Trust', -apple-system, 'sans-serif';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: light;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;
    width: 350px;
    height: 500px;
    text-align: center;
    justify-items: center;
    justify-self: center;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.644);
    transition: transform 0.3s ease;
}

.food_card:hover {
    transform: scale(1.05);
    background-color: rgba(255, 136, 0, 0.733);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.644);

}

.food_card img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.842);
}

.add_to_lunch_button {
    text-decoration: none;
    text-align: center;
    color: rgb(245, 218, 218);
    margin: 10px;
    background-color:rgb(231, 43, 43);
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
   
}

.add_to_lunch_button:hover {
    cursor: pointer;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 10px;
    background-color:rgb(49, 22, 22);
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

table {
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(97, 110, 110);
}

td {
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(97, 110, 110);
}

footer {
    text-align: right;
    padding: 30px;
    min-height: 200px;
    background-color: black;
    border-radius: 8px;
}

p {
    color: rgb(245, 218, 218);

}

select {
    color: rgb(245, 218, 218);
    background-color: rgb(255, 140, 64);
    border-radius: 20px;
    border-color: white;
    padding: 5px;

}

.create_order {
    display: grid;
    grid-template-columns: auto auto;
    background-color:  rgb(196, 111, 15);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.644);
    margin: 15px;
}

textarea {
    background-color:rgb(134, 78, 13);
    border-radius: 20px;
    padding: 10px;
}

textarea {
    color: rgb(245, 218, 218);
    background-color: rgb(136, 76, 8);
    border-radius: 20px;
    padding: 10px;
    border-color: rgb(255, 177, 87);
    outline: none;
}


::placeholder {
    color: rgb(245, 218, 218);
    opacity: 1;
}

.text_input {
    color: rgb(245, 218, 218);
    background-color: rgb(255, 140, 64);
    border-radius: 20px;
    padding: 10px;
    border-color: rgb(255, 140, 64);
    outline: none;
}

.button {
    text-decoration: none;
    text-align: center;
    font-family: 'ScienceGothic';
    color: rgb(245, 218, 218);
    margin: 20px;
    background-color:rgb(250, 141, 16);
    border-radius: 15px;
    border-color: rgb(245, 218, 218);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
}
